# Ignore .conda files and folders
*.conda
.conda/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging (to include only the relevant ones)
.Python
env/
venv/
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/    # Keep this to allow .egg-info to be uploaded
.installed.cfg
*.egg

# Distribution packages you want to upload
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VSCode
.vscode/

# Logs — files inside are ignored by inner .gitignore
logs/

# dotenv environment variables
.env
.env.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# System files
.DS_Store
Thumbs.db

#Mlrun files
/mlruns/
